<!--Page d'accueil pour utilisateur normal-->

{% extends "base.html" %}

{% block nav %}
<nav id=nav_user>
  <ul class="nav">
    {% if admin %}
    <li><a href="/auth/create?next={{ url_escape(request.uri) }}">Créer utilisateur</a></li>
    {% end %}
    <li><a href="/">Pilotage</a></li>
    <li><a href="/">Webcam</a></li>
    <li><a href="/">Statistiques </a></li>
  </ul>
</nav>
{% end %}

{% block body %}
    
  {% for id in range(1, len(relay_state) + 1) %}
    <div class="pilotage">
      <label for="{{ "slider{}".format(id) }}" class="switch">
      {% if relay_state[int(id)] %}
        <input type="checkbox" id="{{ "slider" + str(id) }}" checked>
      {% else %}
        <input type="checkbox" id="{{ "slider" + str(id) }}" unchecked>
      {% end %}
      <span class="slider round"></span>
      </label>
      <h2>arrosage n°{{id}}</h2>
    </div>
  {% end %}

  Websocket status:
  <br>
  <div id="ws-status"> Waiting... </div>

  {% end %}





