<!--Page d'accueil pour utilisateur normal-->

{% extends "base.html" %}

{% block nav %}
<nav id=nav_user>
  <ul class="nav">
    {% if admin %}
    <li><a href="/auth/create?next={{ url_escape(request.uri) }}">Créer utilisateur</a></li>
    {% end %}
    <li><a href="/">Pilotage</a></li>
    <li><a href="/">Webcam</a></li>
    <li><a href="/">Statistiques </a></li>
  </ul>
</nav>
{% end %}

{% block body %}

  <!-- Sensor -->
  <div class="pilotage">
    <input type="button" class="sensor" id="button_measure" value="Mesurer">
    <h2 id="measure_value">...</h2>
  </div>

  <!-- Relays -->
  {% for id, state in relay_state.items() %}
    <div class="pilotage">
      <label for="{{ 'slider' + str(id) }}" class="switch">
      {% if state %}
        <input type="checkbox" class="relay" id="{{ 'slider' + str(id) }}" checked>
      {% else %}
        <input type="checkbox" class="relay" id="{{ 'slider' + str(id) }}" unchecked>
      {% end %}
      <span class="slider round"></span>
      </label>
      <h2>arrosage n°{{id}}</h2>
    </div>
  {% end %}

  <!-- Websocket status -->
  Websocket status:
  <br>
  <div id="ws-status"> Waiting... </div>

{% end %}





